
h1, h2, h3, h4, h5, h6 {
  font-family: "Amiri", serif;
}

.s1 {
  background: url(https://github.com/MCTTAN/risingforlearners/blob/master/ph/media/rising-ph/rising-patterns/rising-blue-inverse-flowers-c91439-7D061F-pattern-smaller.png?raw=true);
  background-size: cover;
}

.s2 {
  background: url(https://github.com/MCTTAN/risingforlearners/blob/master/ph/media/free-to-use/edits/170425-F-YW474-1478-orange.png?raw=true);
  background-size: cover;
}

.s3 {
  background: url(https://github.com/MCTTAN/risingforlearners/blob/master/ph/media/rising-ph/rising-patterns/rising-dark-blue-leaves-background-pattern.png?raw=true);
  background-size: cover;
}